<% include ./partials/header.ejs %>
<link rel="stylesheet" href="../../style2.css">

<!-- Landlord Dashboard sidebar -->
<% include ./partials/landlord-dashboard.ejs %>


<div id="content-wrapper" class="d-flex flex-column">

  <!-- Main Content -->
  <div id="content">
    <!-- Begin Page Content -->
    <div class="container-fluid" style="margin-top:20px;">

      <!-- Page Heading -->
      <h1 class="h3 mb-2 text-gray-800">Dashboard</h1>
      <p class="mb-4"></p>

      <!-- Content Row -->
      <div class="row">

        <div class="col-xl-8 col-lg-7">

          <!-- Area Chart -->
          <div class="card shadow mb-4" style="height:720px">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Total net value</h6>
            </div>
            <div class="card-body" style="height:550px;">
              <div class="chart-area">

                <canvas style="height:500px;width:700px;margin:0 auto;" id="myAreaChart"></canvas>
                Select Year to Display: <input style="display:block" type="number" id="yearselect" name="yearselect" onchange="">
                <button style="margin-top:20px;" class="btn btn-primary"
                  onclick="recalculate('<%= currentUser._id %>')">Recalculate current month</button>
                <button style="margin-top:20px;" class="btn btn-primary" onclick="">Compare Years</button>
              </div>

            </div>
          </div>
          <div class="card shadow mb-4" style="height:750px">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Total Rent Income</h6>
            </div>
            <div class="card-body" style="height:500px;">
              <div class="chart-area">
                <canvas id="myAreaChartRent" style="height:500px;width:700px;margin: 0 auto;"></canvas>Select Year to Display: <input style="display:block" type="number" id="yearselectrent" name="yearselectrent" onchange="">
                <p id="yearly-total-rent" style="margin-top:20px;">Year Total:

                </p>
                <button style="" class="btn btn-primary" onclick="calulate_rent('<%= currentUser._id %>')">Calulate
                  Rent</button>
              </div>
            </div>
          </div>
        </div>

        <!-- Donut Chart -->
        <div class="col-xl-4 col-lg-5">
          <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Yearly Expenses</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
              <div class="chart-pie pt-4">
                <canvas id="myPieChart"></canvas>
              </div>
              <hr>
              Styling for the donut chart can be found in the <code>/js/demo/chart-pie-demo.js</code> file.
            </div>
          </div>
        </div>
      </div>

    </div>
    <!-- /.container-fluid -->

  </div>
  <!-- End of Main Content -->
</div>
<!-- <ul id="manage-table" style="width:100%">
            
    <% for(var i = 0; i < property.length; i++) { %>
            <li onClick="document.location = '/user/<%= currentUser._id %>/manage/<%= property[i]._id %>'" class=" list-group-item-action list-group-item">
                <h5 style="margin-top:10px;"><%= property[i].name %></h5><span style="float:right;" class="badge badge-danger badge-pill">property notification number</span>
            </li>
    
        
        
    <% } %>

    
        </ul> -->
</div>



<% include ./partials/footer.ejs %>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
  $(document).ready(function () {
    $('#yearselect').val(new Date().getFullYear());
    $('#yearselectrent').val(new Date().getFullYear());
  });

  var portfoliodata = [<% for (var i = 0; i < currentUser.PortfolioValue.length; i++) { %>
                //While the year is correct and month is Jan,Feb,etc....
                <%if (currentUser.PortfolioValue[i].value != null) {%>
    {
      value:<%= currentUser.PortfolioValue[i].value %>,
      month: '<%= currentUser.PortfolioValue[i].month %>',
      year:<%= currentUser.PortfolioValue[i].year %>},
                <%}%>
              <% } %>
              ]

  //console.log(portfoliodata);

  var rentdata = [<% for (var i = 0; i < currentUser.totalRentIncomeData.length; i++) { %>
                <%if (currentUser.totalRentIncomeData[i].value != null) {%>
    {
      value:<%= currentUser.totalRentIncomeData[i].value %>,
      month: '<%= currentUser.totalRentIncomeData[i].month %>',
      year:<%= currentUser.totalRentIncomeData[i].year %>},
                <%}%>
              <%}%>
            ]

  /*Get the selected year from #yearselect input and then append the data                     
  for that year into the data for the chart.
  */

  // for(var i = 0; i < rentdata.length; i++){
  //   if(rentdata[i].year === yearSelectRent){
  //     //Append to an array
  //   }
  // }

  var to_do_items = [];
  var ctx = document.getElementById('myAreaChart').getContext('2d');
  //ctx.canvas.width="600";
  //ctx.canvas.height = "400";
  var chart1 = new Chart(ctx, {
    // The type of chart we want to create
    type: 'line',

    // The data for our dataset
    data: {
      labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
      datasets: [{
        fill: false,
        label: 'Total Net Value',
        lineTension: 0,
        backgroundColor: 'rgb(255, 99, 132)',
        borderColor: 'rgb(255, 99, 132)',
        data: []
      }]
    },

    // Configuration options go here
    options: {
      // bezierCurve: true,
      responsive:false
    }
  });

  var ctx2 = document.getElementById('myAreaChartRent').getContext('2d');
  //ctx2.canvas.width="600";
  //ctx2.canvas.height = "400";
  var chart2 = new Chart(ctx2, {
    // The type of chart we want to create
    type: 'line',

    // The data for our dataset
    data: {
      labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
      datasets: [{
        fill: false,
        label: 'Total Rent Income per month',
        lineTension: 0,
        backgroundColor: 'rgb(255, 99, 132)',
        borderColor: 'rgb(255, 99, 132)',
        data: []
      }]
    },

    // Configuration options go here
    options: {
      // bezierCurve: true,
      responsive:false
    }
  });

  //===========================================
  //       Function for total value graph
  //===========================================

  var months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
  var yearSelectPortfolio = $("#yearselect").val();
  var correctYear = [];
  console.log($("#yearselect").val());
  console.log("val");
  for (var i = 0; i < portfoliodata.length; i++) {
    if (portfoliodata[i].year === (new Date().getFullYear())) {
      //Append to the graph data array
      correctYear.push(portfoliodata[i]);
      //console.log(portfoliodata[i].year + " = 2020");
      //Sort data into correct months
      //Go down the months list and check for data and append
    }
  }
  for (var j = 0; j < months.length; j++) {
    var flag = false;
    for (var k = 0; k < correctYear.length; k++) {
      //Search for January, if not present then value = null 
      flag = false;
      if (months[j] === correctYear[k].month) {
        chart1.data.datasets[0].data.push(correctYear[k].value);
        break;
      } else {
        flag = true;
      }
    }
    if (flag === true) {
      chart1.data.datasets[0].data.push(null);
    }
  }
  chart1.update();
  //console.log(chart1.data.datasets[0].data);

  //===========================================
  //       Function for total rent graph
  //===========================================
  console.log(rentdata);
  var yearSelectRent = $("#yearselect2").val();
  var correctYearRent = [];
  for (var i = 0; i < rentdata.length; i++) {
    if (rentdata[i].year === (new Date().getFullYear())) {
      //Append to the graph data array
      correctYearRent.push(rentdata[i]);
      //console.log(portfoliodata[i].year + " = 2020");
      //Sort data into correct months
      //Go down the months list and check for data and append
    }
  }
  for (var j = 0; j < months.length; j++) {
    var flag = false;
    for (var k = 0; k < correctYearRent.length; k++) {
      //Search for January, if not present then value = null 
      flag = false;
      if (months[j] === correctYearRent[k].month) {
        chart2.data.datasets[0].data.push(correctYearRent[k].value);
        break;
      } else {
        flag = true;
      }
    }
    if (flag === true) {
      chart2.data.datasets[0].data.push(null);
    }
  }
  chart2.update();
  calculate_yearly_rent_total();

  //===========================================
  //    Function for changing portfolio graph year
  //===========================================

  $('#yearselect').on("change", function(){
    //This function is to change the year displayed on the value graph

    //First clear the data array for graph
    chart1.data.datasets[0].data = [];
    //Populate with correct year data
    var months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
    var yearSelectPortfolio = $("#yearselect").val();
    var correctYear = [];
    for (var i = 0; i < portfoliodata.length; i++) {
      if (portfoliodata[i].year == yearSelectPortfolio) {
        //Append to the graph data array
        correctYear.push(portfoliodata[i]);
        //console.log(portfoliodata[i].year + " = 2020");
        //Sort data into correct months
        //Go down the months list and check for data and append
      }
    }
    for (var j = 0; j < months.length; j++) {
      var flag = false;
      for (var k = 0; k < correctYear.length; k++) {
        //Search for January, if not present then value = null 
        flag = false;
        if (months[j] === correctYear[k].month) {
          chart1.data.datasets[0].data.push(correctYear[k].value);
          break;
        } else {
          flag = true;
        }
      }
      if (flag === true) {
        chart1.data.datasets[0].data.push(null);
      }
    }
    chart1.update();
  })

  //===========================================
  //    Function for changing rent graph year
  //===========================================

  $('#yearselectrent').on("change", function(){
    //This function is to change the year displayed on the value graph

    //First clear the data array for graph
    chart2.data.datasets[0].data = [];
    //Populate with correct year data
    var months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
    var yearSelectRent = $("#yearselectrent").val();
    var correctYear = [];
    for (var i = 0; i < rentdata.length; i++) {
      if (rentdata[i].year == yearSelectRent) {
        //Append to the graph data array
        correctYear.push(rentdata[i]);
        //console.log(portfoliodata[i].year + " = 2020");
        //Sort data into correct months
        //Go down the months list and check for data and append
      }
    }
    for (var j = 0; j < months.length; j++) {
      var flag = false;
      for (var k = 0; k < correctYear.length; k++) {
        //Search for January, if not present then value = null 
        flag = false;
        if (months[j] === correctYear[k].month) {
          chart2.data.datasets[0].data.push(correctYear[k].value);
          break;
        } else {
          flag = true;
        }
      }
      if (flag === true) {
        chart2.data.datasets[0].data.push(null);
      }
    }
    chart2.update();
    calculate_yearly_rent_total();
  })



  function recalculate(user_id) {

    //Send an AJAX call to server calling the update portfolio function
    $.post("/recalculate",
      {
        id: user_id
      })
  }

  function calulate_rent(user_id) {
    $.post("/calculate_rent",
      {
        id: user_id
      })
  }

  function calculate_yearly_rent_total(){
    total = 0;
    for(var i = 0; i < chart2.data.datasets[0].data.length; i ++){
      total += chart2.data.datasets[0].data[i];
    }
    $("#yearly-total-rent").html("Year Total: £"+total);
  }

</script>