<% include ./partials/header.ejs %>
<link rel="stylesheet" href="../../style2.css">

<!-- Landlord Dashboard sidebar -->
<% include ./partials/landlord-dashboard.ejs %>


<div id="content-wrapper" class="d-flex flex-column">

  <!-- Main Content -->
  <div id="content">
    <!-- Begin Page Content -->
    <div class="container-fluid" style="margin-top:20px;">

      <!-- Page Heading -->
      <h1 class="h3 mb-2 text-gray-800">Dashboard</h1>
      <p class="mb-4"></p>

      <!-- Content Row -->
      <div class="row">

        <div class="col-xl-8 col-lg-7">

          <!-- Area Chart -->
          <div class="card shadow mb-4" style="height:650px">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Total net value</h6>
            </div>
            <div class="card-body" style="height:550px;">
              <div class="chart-area">
                <canvas id="myAreaChart"></canvas>
                Select Year to Display: <input style="display:block" type="number" id="yearselect" name="yearselect">
                <button style="margin-top:20px;" class="btn btn-primary"
                  onclick="recalculate('<%= currentUser._id %>')">Recalculate current month</button>
                <button style="margin-top:20px;" class="btn btn-primary" onclick="">Compare Years</button>
              </div>

            </div>
          </div>
          <div class="card shadow mb-4" style="height:650px">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Total Rent Income</h6>
            </div>
            <div class="card-body" style="height:500px;">
              <div class="chart-area">
                <canvas id="myAreaChartRent"></canvas>
                <p style="margin-top:20px;">Year Total:
                  <% var total = 0; %>
                  <% for(var i = 0; i<currentUser.totalRentIncomeData.length; i++) { %>
                  <% total = total + currentUser.totalRentIncomeData[i].value %>
                  <% } %>
                  £<%= total %></p>
                <button style="" class="btn btn-primary" onclick="calulate_rent('<%= currentUser._id %>')">Calulate
                  Rent</button>
              </div>
            </div>
          </div>
        </div>

        <!-- Donut Chart -->
        <div class="col-xl-4 col-lg-5">
          <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Yearly Expenses</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
              <div class="chart-pie pt-4">
                <canvas id="myPieChart"></canvas>
              </div>
              <hr>
              Styling for the donut chart can be found in the <code>/js/demo/chart-pie-demo.js</code> file.
            </div>
          </div>
        </div>
      </div>

    </div>
    <!-- /.container-fluid -->

  </div>
  <!-- End of Main Content -->
</div>
<!-- <ul id="manage-table" style="width:100%">
            
    <% for(var i = 0; i < property.length; i++) { %>
            <li onClick="document.location = '/user/<%= currentUser._id %>/manage/<%= property[i]._id %>'" class=" list-group-item-action list-group-item">
                <h5 style="margin-top:10px;"><%= property[i].name %></h5><span style="float:right;" class="badge badge-danger badge-pill">property notification number</span>
            </li>
    
        
        
    <% } %>

    
        </ul> -->
</div>



<% include ./partials/footer.ejs %>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
  $(document).ready( function() {
    $('#yearselect').val(new Date().getFullYear());
  });

  var data = [<% for(var i = 0; i<currentUser.PortfolioValue.length; i++) { %>
                //While the year is correct and month is Jan,Feb,etc....
                <%if(currentUser.PortfolioValue[i].value != null){%>
                    {value:<%= currentUser.PortfolioValue[i].value %>,
                     month:'<%= currentUser.PortfolioValue[i].month %>',
                     year:<%= currentUser.PortfolioValue[i].year%>},
                <%}%>
              <% } %>
              ]

  /*Get the selected year from #yearselect input and then append the data                     
  for that year into the data for the chart.
  */
  for(var i = 0; i < data.length; i++){
    if(data[i].year === 2020){
      console.log("is in 2020");
    }
  }
  
  console.log(data);
  

  var to_do_items = [];
  var ctx = document.getElementById('myAreaChart').getContext('2d');
  var chart2 = new Chart(ctx, {
    // The type of chart we want to create
    type: 'line',
  
    // The data for our dataset
    data: {
      labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
      datasets: [{
        fill: false,
        label: 'Total Net Value',
        lineTension: 0,
        backgroundColor: 'rgb(255, 99, 132)',
        borderColor: 'rgb(255, 99, 132)',
        data: [<% for(var i = 0; i<currentUser.PortfolioValue.length; i++) { %>
                //While the year is correct and month is Jan,Feb,etc....
                    <%= currentUser.PortfolioValue[i].value %>,
                  <% } %>
            ]
        }]
      },

  // Configuration options go here
  options: {
    // bezierCurve: true,
  }
    });

  
  console.log(chart2.data.datasets[0].data);
  
  
  var ctx = document.getElementById('myAreaChartRent').getContext('2d');
  var chart2 = new Chart(ctx, {
    // The type of chart we want to create
    type: 'line',

    // The data for our dataset
    data: {
      labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
      datasets: [{
        fill: false,
        label: 'Total Rent Income per month',
        lineTension: 0,
        backgroundColor: 'rgb(255, 99, 132)',
        borderColor: 'rgb(255, 99, 132)',
        data: [<% for(var i = 0; i<currentUser.totalRentIncomeData.length; i++) { %>
                  <%= currentUser.totalRentIncomeData[i].value %>,
                  <% } %>
            ]
        }]
      },

  // Configuration options go here
  options: {
    // bezierCurve: true,
  }
    });


  function recalculate(user_id) {

    //Send an AJAX call to server calling the update portfolio function

    $.post("/recalculate",
      {
        id: user_id
      })


  }

  function calulate_rent(user_id) {
    $.post("/calculate_rent",
      {
        id: user_id
      })
  }

</script>